* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

    background-color: #effff8;

    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";

    position: fixed;
    inset: 0;

    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.15;

    z-index: -1;
}

/* Cadastro com sucesso */

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -100px);

    padding: 14px 24px;
    border-radius: 8px;

    background-color: #d1fae5;
    color: #065f46;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    opacity: 0;
    transition: 0.3s;
}

.toast.mostrar {
    transform: translate(-50%, 0);
    opacity: 1;
}

/* Container principal */

.login-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

/* Card */

.login-card {
    width: 350px;
    min-height: 320px;

    background-color: #ffffff;

    border-radius: 7px;

    padding: 20px 40px;

    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25);
}

/* Logo */

.logo {
    text-align: center;
    margin-bottom: 30px;
}


/* Formulário */

.login-form {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}

.input-group label {
    color: #333;

    font-size: 12px;

    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    height: 22px;

    padding: 5px 8px;

    border: 1px solid #d8d8d8;
    border-radius: 4px;

    outline: none;

    font-size: 12px;
    transition: 0.2s;
}

.input-group input:focus {
    border-color: #009b45;
}

/* Botão */

.login-form button {
    width: 100%;
    height: 35px;

    margin-top: 15px;

    border: none;
    border-radius: 4px;

    background-color: #008d3e;

    color: white;

    font-size: 12px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.login-form button:hover {
    background-color: #007a36;
}

/* Criar uma conta */

.forgot-sign-up {
    display: block;

    margin-top: 12px;

    text-align: center;

    color: #008d3e;

    font-size: 13px;
    font-weight: bold;

    text-decoration: none;
}

/* Esqueci minha senha */

.forgot-password {
    display: block;

    margin-top: 12px;

    text-align: center;

    color: #008d3e;

    font-size: 10px;
    font-weight: bold;

    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
